<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target name="allfile" xsi:type="File"
				layout="TimeStamp=${longdate} CorrelationId=${aspnet-item:variable=CorrelationId}  TraceId=${aspnet-traceidentifier} Logger=${logger} ${message} ${exception:format=ToString}"
				fileName="c:\DemoLogs\nlog-all-${shortdate}.log"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>